<%- include("header",{pageName:'row-chat'}) %>
<h3 class="title">Raw Chat</h3>
  
  <div class="messages">
    <div class="table-container">
      <table class="transaction-table">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>Role</th>
            <th>Prompt</th>
            <th>Date</th>
            <th>Metadata</th>
          </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
      </table>
    </div>
  </div>
  <div class="input-area">
    <!-- Pagination -->
    <div class="pagination">
      <button id="prev-page" class="page-btn">⬅ Prev</button>
      <span id="page-info">Page 0 of 0</span>
      <button id="next-page" class="page-btn">Next ➡</button>
    </div>
    <div class="disclaimer">
        Chat may produce inaccurate information. Messages are stored
        on cloud. <a href="/">Chat</a>, <a href="/transactions">Transactions</a><br>  <a href="https://github.com/RohitGadhave/finance-assistance-tracker-ai" target="_blank" style="display: inline-flex; align-items: center; gap: 8px; text-decoration: none;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Logo" width="24" height="24">
  <span>View on GitHub</span>
</a><br>
<a href="/privacy.html">Privacy Policy</a> 
<a href="/terms.html">Terms of Service</a> 
<a href="/disclaimer.html">Disclaimer</a> 
    </div>
  </div>
  <%- include("footer",{pageName:'row-chat'}) %>